.host {
  display: flex;
  position: relative;
  flex-direction: column;
}

.award {
  margin-bottom: 24px;
}

.container {
  position: relative;
  z-index: 0;
  width: 288px;
  height: 386px;
  margin: 0 auto;
}

.glow {
  position: absolute;
  z-index: 0;
  top: 14.2%; /* 55/386 */
  left: 50%;
  width: 100%;
  height: 44%; /* 170/386 */
  transform: translateX(-50%);
  background: var(--accent-alpha);
  filter: blur(30px);
}

.winner {
  position: absolute;
  z-index: 3;
  bottom: 11%; /* 42/386 */
  left: 50%;
  width: 65%; /* 186/288 */
  height: 10%; /* 40/386 */
  transform: translateX(-50%);
}

.stonesContainer {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 6%; /* 24/386 */
  left: 14%;
  justify-content: center;
  width: 72%; /* 208/288 */
  height: 60%; /* 232/386 */
  overflow: hidden;
  background-image: linear-gradient(180deg, #151518 0.24%, #1B1B1F 17.37%, #18191C 70.35%, #151519 102.99%);
}

.stones {
  left: 0;
  width: 88px;
}

.stone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  font-size: 56px;
  line-height: 88px;
  height: 88px;
}

.body,
.border {
  position: absolute;
  left: 0;
}

.body {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.border {
  top: 16%;
  width: 100%;
  height: auto;
  z-index: 3;
}

.actionStart {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 35px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--warning-alpha);
}

@media (pointer: fine) {
  .actionStart:hover {
    color: rgb(var(--warning-alpha-rgb), 0.8);
  }
}

.actionStart:active {
  color: rgb(var(--warning-alpha-rgb), 0.7);
}

.actionStart:disabled {
  cursor: not-allowed;
  pointer-events: initial;
  color: rgb(var(--warning-alpha-rgb), 0.2);
}
