.host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.title {
  margin-bottom: 24px;
}

.action {
  margin-top: 24px;
  height: 56px;
  max-width: 264px;
}
